@tailwind base;
@tailwind components;
@tailwind utilities;


.book-description p {
  margin-bottom: 0.75em;
  text-align: justify;
}

.post-content img {
  margin: auto;
}

.text-align-center {
  text-align: center;
}