@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Century, Georgia;
}

.book-description p {
  margin-bottom: 0.75em;
  text-align: justify;
}

.post-content img {
  margin: auto;
}

.text-align-center {
  text-align: center;
}

p {
  margin-bottom: 10px;
}